body {
    background-color: black;
}

p {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
}

button {
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    margin-top: 25px;
    left: 45%;
    border: solid 1px white;
    border-radius: 2px;
    background-color: gray;
    color: black;
}

button:hover {
    background-color: white;
    color: black;
}

.container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
    border: 2px solid white;
    margin: 0 auto;
}

.black {
    background-color: black;
}
